canvas#gameCanvas 
{
    background: #927fc7b7;
    position: relative;
    border: 3px solid;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

body
{
    background-color: rgba(0, 255, 255, 0.281);
}

@media only screen and (max-width: 900px) {
    body{
      background-color: rgb(0, 238, 255);
      color: black;
    }
}
  
@media only screen and (max-width: 890px) {
  canvas#gameCanvas{
    width: 50%;
  }
}
  
#timeBox
{
  position: absolute;
  top: 5%;
  background-color: rgba(110, 166, 214, 0.589);
  border-style: ridge;
  border-width: 2px;
  border-color: rgba(83, 82, 82, 0.692);
  border-radius: 5px;
  padding: 5px;
}